In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)
#print("Hello world!")

In [2]:
df = pd.read_csv("../dataset/combined_data.csv")
df.head()

,result_file,Configuration Name,mode_top2.QOS_CONFIG:4,mode_top2.DDR0_ECC_EN:1,mode_task_0.ENABLE:1,mode_task_1.ENABLE:1,mode_task_2.ENABLE:1,mode_task_3.ENABLE:1,mode_task_4.ENABLE:1,mode_task_5.ENABLE:1,...,TASK_Throughput_1,TASK_Throughput_2,TASK_Throughput_3,TASK_Throughput_4,TASK_Throughput_5,TASK_Throughput_6,TASK_Throughput_7,TASK_Throughput_8,TASK_Throughput_9,Test Status
0,S32G398_Rev1_0_res_02C10_tst01_Ver01_ddrc_allC...,01_A53.M7.-DRAMC-cp,2,1,1,1,1,1,1,1,...,267.48,267.50,222.45,222.43,222.43,222.52,62.58,62.30,62.40,Pass
1,S32G398_Rev1_0_res_02C10_tst01_Ver01_ddrc_allC...,01_A53.M7.-DRAMC-cp,1,1,1,1,1,1,1,1,...,267.74,267.75,222.65,222.57,222.60,222.69,62.36,62.37,62.61,Pass
2,S32G398_Rev1_0_res_02C10_tst01_Ver01_ddrc_allC...,01_A53.M7.-DRAMC-cp,2,0,1,1,1,1,1,1,...,459.30,459.04,388.79,388.29,387.38,387.70,95.36,96.09,95.96,Pass
3,S32G398_Rev1_0_res_02C10_tst01_Ver01_ddrc_allC...,01_A53.M7.-DRAMC-cp,1,0,1,1,1,1,1,1,...,460.14,459.70,388.60,388.36,387.43,387.98,95.65,95.76,96.20,Pass
4,S32G398_Rev1_0_res_02C10_tst01_Ver01_ddrc_allC...,02_A53.M7.-DRAMC-wr,2,1,1,1,1,1,1,1,...,381.80,383.48,357.34,355.62,355.68,357.48,420.44,420.38,420.44,Pass

In [3]:
df.shape

(80, 145)

In [4]:
df = df.drop(df.filter(regex='time_target').columns, axis='columns') # Drop time_target columns

In [5]:
#df.head()

In [6]:
#df.isnull().sum()

In [7]:
df.drop(df.index[df['Test Status'] == 'Fail'], inplace = True) # Skip failed testcases
redendant_cols = ['result_file', 'Configuration Name','Test Status']
df.head()
df.shape

(76, 135)

In [8]:
## Yet to impletment Outlier Removal, will be done later on.

# Building Model
# First we need to remove dependent variables

In [9]:
dependent_cols = ['TASK_Throughput_0']
later_dependent_cols = ['TASK_Throughput_1','TASK_Throughput_2','TASK_Throughput_3','TASK_Throughput_4','TASK_Throughput_5', 'TASK_Throughput_6','TASK_Throughput_7','TASK_Throughput_8','TASK_Throughput_9']
#X = X.drop(X.filter(regex='TASK_Throughput_0').columns, axis='columns')
all_dependent_cols = dependent_cols + later_dependent_cols
print(all_dependent_cols)

['TASK_Throughput_0', 'TASK_Throughput_1', 'TASK_Throughput_2', 'TASK_Throughput_3', 'TASK_Throughput_4', 'TASK_Throughput_5', 'TASK_Throughput_6', 'TASK_Throughput_7', 'TASK_Throughput_8', 'TASK_Throughput_9']

In [10]:
X = df.drop(columns = redendant_cols)
X = X.drop(columns = dependent_cols)
X = X.drop(columns = later_dependent_cols)
X.head()

,mode_top2.QOS_CONFIG:4,mode_top2.DDR0_ECC_EN:1,mode_task_0.ENABLE:1,mode_task_1.ENABLE:1,mode_task_2.ENABLE:1,mode_task_3.ENABLE:1,mode_task_4.ENABLE:1,mode_task_5.ENABLE:1,mode_task_6.ENABLE:1,mode_task_7.ENABLE:1,...,data_size_0_0.BYTES,data_size_1_0.BYTES,data_size_2_0.BYTES,data_size_3_0.BYTES,data_size_4_0.BYTES,data_size_5_0.BYTES,data_size_6_0.BYTES,data_size_7_0.BYTES,data_size_8_0.BYTES,data_size_9_0.BYTES
0,2,1,1,1,1,1,1,1,1,1,...,10485760,10485760,10485760,8388608,8388608,8388608,8388608,2752512,2752512,2752512
1,1,1,1,1,1,1,1,1,1,1,...,10485760,10485760,10485760,8388608,8388608,8388608,8388608,2752512,2752512,2752512
2,2,0,1,1,1,1,1,1,1,1,...,10485760,10485760,10485760,8388608,8388608,8388608,8388608,2752512,2752512,2752512
3,1,0,1,1,1,1,1,1,1,1,...,10485760,10485760,10485760,8388608,8388608,8388608,8388608,2752512,2752512,2752512
4,2,1,1,1,1,1,1,1,1,1,...,8388608,8388608,8388608,8388608,8388608,8388608,8388608,8388608,8388608,8388608

In [11]:
#y = df[dependent_cols]
y = df[all_dependent_cols]
y.head()
y.shape

(76, 10)

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)
#X_train.head()
#X_test.head()
#y_train.head()
#y_test.head()

# Linear Regression

In [13]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.5782867323037519

In [14]:
#lr_clf.predict(X_test)

# Decision Tree Regressor

In [15]:
from sklearn.tree import DecisionTreeRegressor
dct_clf = DecisionTreeRegressor(criterion='squared_error', splitter='best')
dct_clf.fit(X_train,y_train)
dct_clf.score(X_test,y_test)

0.9997617309430243

In [16]:
#dct_clf.predict(X_test)

# Cross-validation is a powerful preventative measure against overfitting

In [17]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
cross_val_score(LinearRegression(),X,y,cv=cv)

array([0.7992113 , 0.9102783 , 0.88477104, 0.86456141, 0.7682209 ])

In [18]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor
def find_best_model_GSCV(X,y):
    algos = {
        'linear_regression' : {
            'model' : LinearRegression(),
            'params' : {
                'normalize' : [True, False]
            }
        },
        'lasso' : {
            'model' : Lasso(),
            'params' : {
                'alpha' : [1,2],
                'selection' : ['random', 'cyclic']
            }
            
        },
        'decision_tree' : {
            'model' : DecisionTreeRegressor(),
            'params' : {
                'criterion' : ['squared_error', 'friedman_mse'],
                'splitter' : ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs = GridSearchCV(config['model'],config['params'],cv=cv,return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model' : algo_name,
            'best_core' : gs.best_score_,
            'best_params' : gs.best_params_
        })
        
    return pd.DataFrame(scores,columns=['model', 'best_core', 'best_params'])

#find_best_model_GSCV(X,y)

In [19]:
import pickle
with open ('marvel_tango_allcores.pickle','wb') as f:
    pickle.dump(lr_clf,f)

In [20]:
import json
d_columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(d_columns))